@import url('https://fonts.googleapis.com/css2?family=McLaren|Quicksand|Shadows+Into+Light&display=swap');

body {
  font-family: "McLaren", sans-serif;
  margin-left: 10%; /* Remove all body margins */
  font-size: 120%;
}
header{
    display: flex;
    align-items:center;
    background: white;   
}
header h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 300%;
    font-weight: lighter;
    color: red;
}
nav {
    background-color:#0a85d8;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display: flex; /*Display the children of this element as flexible boxes*/ 
    align-items: center; /* Align child flexible boxes in the vertical center*/
}
nav p {
    text-align: center;
    flex-basis: 100px; /* Give each paragraph the same basic width */
    flex-grow: 1; /* Allow each paragraph to grow evenly to fill up the parent nav element */
}
nav a {
   color:white;
   text-decoration: none;
   font-weight: bold;
}
nav a:hover {
    color:red;
}
footer {
    background-color:#0a85d8; /* background or background-color both work */
    position: fixed; /* fix to the viewport*/
    bottom: 0; /* Start 0 pixels from the botom of thne viewport */
    left: 0; /* Start 0 pixels from the left of the viewport */
    width: 100%; /* Set the width to 100% of the viewport */
    height: 3em; /* Set the footer elements height to 3 times larger than its current font size */
    border-top: solid black 1px; /* Have to put the unit , e.g px or % if not zero */
}
h1, h2 {
    color:red;
   font-family: serif;
}

.main {
    margin-left:1em; 
    margin-right:1em;
    margin-bottom: 4em /* Larger margin to allow the footer */
}
.center {
    text-align: center;
}
.wrap {
      float: right;
}
.caption {
  font-style: italic;
  font-size: small;
}
.icon {
    border-radius: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Two columns with equal width */
    gap: 20px; /* Gap between grid items */   
}
/* Style for each grid items */
.grid-item {
border: 1px solid #ccc;
padding: 20px;
text-align: center;
font-weight: bold;
}
.grid-item img{
    height: 200px; /* Ensure the image takes up 70% of its container's height */
}
/* Media query for screens smaller than 800 pixels */
@media (max-width: 800px) 
{
    .grid-container 
    {
        grid-template-columns: 1fr 1fr; /* Change to a two -ms-grid-columns: ; */
    }
    body 
    {
      margin-left: 0; /* Remove all body margins */
      font-size: 120%;  
    }
    header h1 
    {
        font-size: 100%;
    }
    header img {
        width: 50%
        
    }
}
@media (max-width: 700px) 
{
    .grid-container 
    {
        grid-template-columns: 1fr ; /* Change to a single column */
    }
    .square 
    {
        width: 100px;
    }
}
